{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block contenido %}
<div class="container">
        <div class="row mt-5">
            <div class="col">
                <h2>Crear Nuevo Usuario</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        {{ form.non_field_errors}}
                        <div class="col-3 mb-3">
                            <label for="id_nombres">Nombres:</label>
                            {{form.nombres}}
                            {{form.nombres.errors}}
                        </div>
                        <div class="col-3 mb-3">
                            <label for="id_paterno">Apellido Paterno:</label>
                            {{form.paterno}}
                            {{form.paterno.errors}}
                        </div>
                        <div class="col-3 mb-3">
                            <label for="id_materno">Apellido Materno:</label>
                            {{form.materno}}
                            {{form.materno.errors}}
                        </div>
                        <div class="col-3 mb-3">
                            {{form.run.label_tag}} 
                            {{form.run}}
                            {{ form.run.errors }}
                        </div>
                        <div class="col-3 mb-3">
                            {{form.correo.label_tag}} 
                            {{form.correo}}
                            {{ form.correo.errors }}
                        </div>
                        <div class="col-3 mb-3">
                            {{form.fono.label_tag}} 
                            {{form.fono}}
                            {{ form.fono.errors }}
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-dark" href="{% url 'todos_usuarios' %}">Volver</a>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Crear Usuario</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}