{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row align-items-center mb-4">
        <div class="col-9">
            <h1 class="text-dark fw-bold">Mantenedor de Empleados</h1>
            <h5 class="text-muted">Bienvenido {{ user.first_name }} {{ user.last_name }}</h5>
        </div>
        <div class="col-3 text-end">
            <a href="{% url 'gestor_rrhh' %}" class="btn btn-wine">Volver</a>
        </div>
    </div>

    <div class="row g-4 justify-content-center">
        <div class="col-md-3">
            <div class="card shadow card-hover">
                <img src="{% static 'images/empleados_mantenedor.png' %}" class="card-img-top" alt="Empleados">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">Empleados</h5>
                    <a class="btn btn-wine" href="{% url 'todos_empleados' %}">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow card-hover">
                <img src="{% static 'images/liquidacion.png' %}" class="card-img-top" alt="Liquidaciones">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">Liquidaciones</h5>
                    <a class="btn btn-wine" href="#">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
