{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="row align-items-center mt-5 mb-4">
        <div class="col-9">
            <div class="text-dark h1">Mantenedor de Contratos</div>
            <div class="text-muted h5">Bienvenido {{ user.first_name }} {{ user.last_name }}</div>
        </div>
        <div class="col-3 text-end">
            <a href="{% url 'gestor_rrhh' %}" class="btn btn-dark">Volver</a>
        </div>
    </div>
    <div class="col mt-5">
        <div class="card shadow-lg" style="width: 18rem;">
            <img src="{% static 'images/contratos_gestor.jpg' %}" class="card-img-top" alt="logo la forneria">
            <div class="card-body">
                <h5 class="card-title">Contratos</h5>
                <a class="btn btn-success" href="#">Ingresar</a>
            </div>
        </div>
    </div>
    <div class="col mt-5">
        <div class="card shadow-lg" style="width: 18rem;">
            <img src="{% static 'images/cargos_gestor.jpg' %}" class="card-img-top" alt="logo la forneria">
            <div class="card-body">
                <h5 class="card-title">Cargos</h5>
                <a class="btn btn-success" href="{% url 'todos_cargos' %}">Ingresar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}