{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="panel-seccion">
        <h1>Crear Nuevo Cargo</h1>
        <h5>Complete los datos del nuevo cargo</h5>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            {{ form.non_field_errors }}
            <div class="col-3 mb-3">
                <label for="id_nombre">Nombre:</label>
                {{ form.nombre }}
                {{ form.nombre.errors }}
            </div>
            <div class="col-3 mb-3">
                <label for="id_descripcion">Descripción:</label>
                {{ form.descripcion }}
                {{ form.descripcion.errors }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col text-start">
                <a class="btn btn-volver" href="{% url 'todos_cargos' %}">Volver</a>
            </div>
            <div class="col text-end">
                <button type="submit" class="btn btn-primary">Crear Cargo</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
