{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block contenido %}
<div class='row'>
    <div class='col-10 offset-1'>
        <h3>Eliminar Cargo</h3>
        <div class='alert alert-danger h5'>
            ¿Está seguro que desea eliminar el cargo:
            <strong>{{ cargo.nombre }}</strong>?
        </div>
        <form method="post">
            {% csrf_token %}
            <div class='row'>
                <div class='col'>
                    <a class='btn btn-dark' href="{% url 'todos_cargos' %}">Cancelar</a>
                </div>
                <div class='col'>
                    <button class='btn btn-danger' type="submit">Eliminar Cargo</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}